# --- TIETOTURVA & SALAISUUDET (TÄRKEÄT) ---
lemp-k8s/mysql-secret.yaml
cred.env
.env
*.pem
.ssh/

# --- KUBERNETES & DOCKER (Väliaikaistiedostot & Binäärit) ---
.kube/
.minikube/
.docker/
kubectl
minikube-linux-amd64
*.yaml.save
.DS_Store

# --- PYTHON & VIRTUAALIYMPÄRISTÖ ---
venv/
__pycache__/
*.pyc
.streamlit/

# --- LOKITIEDOSTOT ---
*.log
npm-debug.log*

# --- LINUX / KOTIKANSION JÄRJESTELMÄTIEDOSTOT ---
# Koska repo on home-kansiossa, estetään näitä vahingossa menemästä Gitiin
.bash_history
.bash_logout
.bashrc
.profile
.selected_editor
.sudo_as_admin_successful
.lesshst
.mysql_history
.gitconfig
.Xauthority
.cache/
.local/
.wget-hsts

# --- EDITORIT ---
.vscode/
.idea/
*.swp
